{% extends 'layout.html' %}
{% block content %}
    <section class="poster">
        <form action="/stream/message/add" method="POST">
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <button>Submit</button>
        </form>
    </section>

    <section class="messages">
        {% if latest_message_list %}
            <ul>
            {% for message in latest_message_list %}
                <li class="message"><a href="/stream/{{ message.id }}/">{{ message.texte}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No messages are available.</p>
        {% endif %}
    </section>


{% endblock %}
